.container {
    display: block;
}

.titleInputBox {
    width: 400px;
    border-style: solid;
    font-size: 15px;
    font-weight: bold;
    color: #cbd2e4;
    background-color: #0c1a2f;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-color: #79e3c6;
    box-shadow: 0px 0px 10px 10px rgba(127, 127, 127, 0.099);

}

.contentInputBox {
    width: 450px;
    height: 150px;
    font-size: 20px;
    color: #c7cdde;
    background-color: #0c1a2f;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-color: #79e3c6;
    box-shadow: 0px 0px 10px 10px rgba(127, 127, 127, 0.099);
}